

.workshop-header-2{
	background-color: #313131;
}

.sow-active{
	background: #43ab92 !important;
}

.tab-active{
	border-top: 2px solid blue;
	font-weight: bold;
	background-color: white !important;
}

.cell{
	border: 1px solid white;
	/*max-width: 65px !important;*/
}

.cell-full{
	border: 1px solid white;
	background-color: #525252 !important;
	/*max-width: 65px !important;*/
}

.cell-active{
	background-color: #43ab92 ;
}

.section-button{
	border: 1px solid #525252;
}

.section-active{
	background-color: #525252;
}

.piglets{
	border: 2px solid #525252;
}

.workshop{
	background-color: #E0E0E0;
	min-height: 768px;
	color: #313131;
}

.workshop-header{
	margin-left: -15px;
	margin-right: -15px;
	padding-left: 0px !important;
	padding-right: 0px !important;
	background-color: #313131;
	min-height: 24px;
	color: white;
	text-align: center;
	font-weight: bold;
}

.workshop-tab{
	background-color: #ECEFF1;
	border-right: 2px solid #747474 !important;
	min-height: 62px !important;
	text-align: center !important;
	border-bottom: 2px solid #747474 !important;
}

.workshop-menu{
	background-color: #EEEEEE;
}

.workshop-header-2{
	/* color: white; */
	min-height: 30px;
	background-color: #616161;
	/* background-color: #313131; */
	
}

.workshop-header-3{
	color: white;
	min-height: 30px;
	background-color: #313131;
	margin-left: -15px;
	margin-right: -15px;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.workshop-left-column{
	padding-left: 0px !important;
	padding-right: 0px !important;
	border-right: 1px solid #747474;
	/* min-height: 500px !important; */
	
}

.workshop-right-column{
	/* padding-left: 0px !important; */
	/* padding-right: 0px !important; */
	/* min-height: 500px ; */
}

.workshop-content{
	margin-top: 15px;
}

.search-input{
	width: 130px;
}

.sow-li{
	border-bottom: 1px solid #747474 !important;
	background: #E0E0E0;
	min-height: 50px;
}

.sow-row-active {
	background: #43ab92;
}

.sow-seminations {
	list-style: none;
	padding-left: 0px;
}

.sow-row-date {
	font-size: 10px;
}

.commonfilter{
	padding-top: 10px;
	padding-left: 20px;
}

.sow-event-label{
	font-weight: bold;
}

.btn:hover{
	background: #313131 !important;
}

.btn-dark{
	background: #313131 !important;
}

.btn-inc-dec{
	font-weight: bold !important;
	font-size: 25px !important;
}

.bottom-buttons-block{
	margin-top: 10px;
}

.created-nomad-active{
	background-color: #43ab92;
}

.newborn-group-table{
	text-align: center; 
    vertical-align: middle;
	background: #313131 !important;
	
}

/* nomad piglets */
.piglets-active{
	background-color: #43ab92;
}

.nomad-piglets-row{
	border-bottom: 1px solid;
	border-right: 1px solid;
}

.input-group{
	margin-top: 10px !important;
}

.block-inactive{
	pointer-events: none;
	opacity: 0.7;
}

.error-message{
	color: red;
}

.loading{
	font-weight: bold !important;
}

.farrow-button-block{
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #525252;
}