.workshop-header-2{
	background-color: #313131;
}

.sow-active{
	background: #43ab92 !important;
}

.tab-active{
	border-top: 2px solid blue;
	font-weight: bold;
	background-color: white !important;
}

.cell{
	border: 1px solid white;
	/*max-width: 65px !important;*/
	text-align: center;
	vertical-align: middle;
	height: 100px;
	
	padding-left: 2px !important;
	padding-right: 2px !important;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	line-height: 15px;
}

.cell-full{
	border: 1px solid white;
	background-color: #525252 !important;
	color: white !important;
	/*max-width: 65px !important;*/
}

.cell-active{
	background-color: #43ab92 ;
}

.section-button{
	border: 1px solid #525252;
	min-height: 50px !important;
}

.section-active{
	background-color: #525252;
	color: white !important;
}

.piglets{
	border: 2px solid #525252;
}

.workshop{
	background-color: #E0E0E0;
	min-height: 768px;
	color: #313131;
	
	/* flex-direction: row; */
	/* height:1000px; */
	
}

.workshop-header{
	margin-left: -15px;
	margin-right: -15px;
	padding-left: 0px !important;
	padding-right: 10px !important;
	background-color: #313131;
	min-height: 24px;
	color: white;
	text-align: center;
	font-weight: bold;
}

.workshop-tab{
	background-color: #ECEFF1;
	border-right: 2px solid #747474 !important;
	min-height: 62px !important;
	text-align: center !important;
	border-bottom: 2px solid #747474 !important;
}

.workshop-menu{
	background-color: #EEEEEE;
}

.workshop-header-2{
	/* color: white; */
	min-height: 30px;
	background-color: #616161;
	/* background-color: #313131; */
	
}

.workshop-header-3{
	color: white;
	min-height: 30px;
	background-color: #313131;
	margin-left: -15px;
	margin-right: -15px;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.workshop-left-column{
	padding-left: 0px !important;
	padding-right: 0px !important;
	border-right: 1px solid #747474;
	/* min-height: 500px !important; */
	
}

.workshop-right-column{
	/* padding-left: 0px !important; */
	/* padding-right: 0px !important; */
	/* min-height: 500px ; */
}

.workshop-content{
	margin-top: 15px;
}

.search-input{
	width: 130px;
}

.sow-li{
	border-bottom: 1px solid #747474 !important;
	background: #E0E0E0;
	min-height: 50px;
}

.sow-row-active {
	background: #43ab92;
}

.sow-row{
	border-bottom: 1px solid;
}

.sow-seminations {
	list-style: none;
	padding-left: 0px;
}

.sow-row-date {
	font-size: 10px;
}

.commonfilter{
	padding-top: 10px;
	padding-left: 20px;
}

.sow-event-label{
	font-weight: bold;
}

.btn:hover{
	background: #313131 !important;
}

.btn-dark{
	background: #313131 !important;
}

.btn-inc-dec{
	font-weight: bold !important;
	font-size: 25px !important;
	margin-right: 10px !important;
}

.bottom-buttons-block{
	margin-top: 10px;
}

.created-nomad-active{
	background-color: #43ab92;
}

.newborn-group-table{
	text-align: center; 
    vertical-align: middle;
	border-top: 1px solid #313131 !important;
	/* background: #313131 !important; */
	
}

/* nomad piglets */
.piglets-active{
	background-color: #43ab92;
}

.nomad-piglets-row{
	border-bottom: 1px solid;
	border-right: 1px solid;
	min-height: 70px;
}

.input-group{
	margin-top: 10px !important;
}

.block-inactive{
	pointer-events: none;
	opacity: 0.7;
}

.error-message{
	color: red;
}

.loading{
	color: blue;
	font-weight: bold !important;
}

.farrow-button-block{
	margin-bottom: 10px;
	padding-bottom: 10px;
	
}

.info-table-head{
	font-size: 10px;
	background-color: #313131 !important;
	color: white;
}

.table-info{
	/*border: 1px solid #313131 !important;*/
}

.cell-setion-number{
	font-size: 13px;
	
}

.cell-sow-farmId{
	font-size: 13px;
	font-weight: bold;
}

.cell-sow-status{
	font-size: 10px;
	color: #b8b800;
	font-weight: bold;
}

.cell-tour{
	font-size: 10px;
	font-weight: bold;
	color: #0a3382;
}

.cell-piglets-count{
	font-size: 10px;
	font-weight: bold;
}

.div-scroll{
	/* flex: 1 !important; */
	overflow-y: scroll !important;
	height: 400px;
}

.whois{
	float: right;
}

.div-cells{
	overflow-y: scroll !important;
	height: 400px;
}

.thead-dark th{
	background-color: #313131 !important;
}

.table-balances{
	font-size: 17px;
}

.table-balances td{
	font-size: 19px;
	font-weight: bold;
}

.block-border{
	border-top: 1px solid #313131 !important;
}

.table{
	text-align: center; 
    vertical-align: middle;
}

.created-nomads-table{
	border-top: 1px solid #313131 !important;
}

.created-nomads-table td{
	border-top: 1px solid #313131 !important;
}

hr {
	border-top: 2px solid #313131 !important;
}

.error-message{
	color: red;
	font-weight: bold;
}

.span-block{
	display: block;
}

.sow-list-farm-id{
	font-size: 20px;
}

.td-piglets-tour{
	font-size: 10px;
}

.gilts-quantity{
	font-size: 15px;
}

.btn-weaning{
	
}

.section-ws3-button{
	border: 1px solid #525252;
	min-height: 100px !important;
	margin-left: 10px !important;
	margin-right: 10px !important;
	margin-bottom: 10px !important;
}

.section-ws3-active{
	background-color: #525252;
	color: white !important;
}

.section-name{
	font-weight: bold;
}

.table-piglets-weaning table, td {
	border: 1px solid !important;
}

.weaning-cell {
	border: 1px solid !important;
}

.nav-workshop-header{
	margin-left: -15px;
	margin-right: -15px;
	padding-left: 0px !important;
	padding-right: 10px !important;
	background-color: #313131 !important;
	min-height: 24px;
	color: white;
	text-align: center;
	font-weight: bold;
}

.piglets-list-elem p{
	margin-bottom: 0px ! important;	
}

.message {
	font-weight: bold;
}

.ws-home{
	min-height: 70px !important;
	text-align: center;
	vertical-align: middle;
	border: 1px solid black;
	margin: 5px;
}

.sow-transfer-button{
	margin-bottom: 50px;
}

.cell-piglets-metatour{
	font-size: 0.8rem;
}

/* REPORTS */
.report-block table, th, td{
	border: 1px solid #c9c5de !important;
}

.report-table table{
	/* table-layout:fixed; */
	/* border: 1px solid blue ! important; */
}

/* .report-cell-td{ */
	/* text-align: center; */
	/* vertical-align: middle; */
/* } */
.report-cell-title {
	display: table-cell;
	font-size: 0.9rem;
	font-weight: 500 !important;
	text-align: center !important;
	/* min-height: 40px !important; */
	width: 80px !important;
	vertical-align: middle !important;
	color: #4b3867 ;
	background-color: #f5e9ff;
}

.report-cell-value {
	display: table-cell;
	font-size: 1.1rem;
	text-align: center !important;
	/* height: 50px !important; */
	width: 100px !important;
	vertical-align: middle !important;
	color: #5d506f;
}

.report-cell-sup{
	color: #138a27;
}

.report-cell-proh{
	color: #e43e3e;
}

.report-cell-value-border{
	text-align: center !important;
	background-color: #f5e9ff !important;
	vertical-align: middle !important;
}

.report-dir-th{
	/* writing-mode: vertical !important; */
	/* text-orientation: sideways !important; */
	text-align: center !important;
	vertical-align: middle !important;
	font-size: 0.9rem;
	word-wrap: break-word;
}

.report-dir-date{
	width: 120%;
	/* font-size:0.9rem; */
	white-space: nowrap;
}

.report-dir-total-tr td{
	font-weight: bold;
}


@supports (zoom:2) {
	input[type="radio"],  input[type=checkbox]{
	zoom: 2;
	}
}
@supports not (zoom:2) {
	input[type="radio"],  input[type=checkbox]{
		transform: scale(2);
		margin: 15px;
	}
}

/* Report operations */
.op-list-item td, th{
	/* border: none !important; */
	margin-right: 5px;
	text-align: center !important;
	vertical-align: middle !important;
	font-size: 1.1rem ! important;
	color: #171619;
	height: 40px !important;
}

.op-list-item > td > span {
	
	margin-right: 5px !important;
	margin-left: 5px !important;
	height: inherit !important;
}

.op-list-item > td > div {
	display: flex;
	height: inherit !important;
	justify-content: center;
    align-items: center;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.op-div-table{
	border: none !important;
}

.op-label-td{
	border: none !important;
	/* border-left: 1px solid !important; */
	width: 120%;
	text-align: center !important;
}

.op-label-td-checkbox{
	border: none !important;
	border-right: 1px solid !important; 
	border-right-color: #acafb1 !important;
}
.op-div-table{
	border: none !important;
	padding-left: 5px !important;
	padding-right: 5px !important;
}

.op-ws3_farrow{
	background-color: #9cef99;
}

.op-ws1_culling, .op-ws2_culling, .op-ws3_sow_culling{
	background-color: #f17e7e;
}

.op-ws1_abort, .op-ws2_abort, .op-ws3_abort{
	background-color: #eaafaf;
}

.op-ws3_sow_inner,
.op-ws3_piglets_inner_trs, .op-ws4_piglets_inner_trs, 
.op-ws8_piglets_inner_trs, .op-ws5_piglets_inner_trs, 
.op-ws6_piglets_inner_trs, .op-ws7_piglets_inner_trs
{
	background-color: #ffff81;
}

.op-ws3_sow_otiem, .op-w1_peregon_sow, .op-w2_peregon_sow,
.op-ws3_piglets_outer_trs,
.op-ws4_piglets_outer_trs, .op-ws8_piglets_outer_trs,
.op-ws5_piglets_to_75, .op-ws6_piglets_to_75,
.op-ws7_piglets_to_75
{
	background-color: #7373f7;
}

.op-ws3_sow_rassadka, .op-ws4_piglets_rassadka,
.op-ws4_piglets_rassadka, .op-ws8_piglets_rassadka,
.op-ws5_piglets_rassadka, .op-ws6_piglets_rassadka,
.op-ws7_piglets_rassadka
{
	background-color: #4da74d;
}

.op-ws3_piglets_padej, .op-ws4_piglets_padej,
.op-ws8_piglets_padej, .op-ws5_piglets_padej,
.op-ws6_piglets_padej, .op-ws7_piglets_padej,
.op-ws3_piglets_prirezka, .op-ws4_piglets_prirezka,
.op-ws8_piglets_prirezka,
.op-ws3_piglets_vinuzhd, .op-ws4_piglets_vinuzhd,
.op-ws8_piglets_vinuzhd, .op-ws5_piglets_vinuzhd,
.op-ws6_piglets_vinuzhd, .op-ws7_piglets_vinuzhd{
	background-color: #f17e7e;
}

.op-label-label{
	/* float: left; */
	margin-top: 5px;
	/* margin-right: 1px; */
}

.op-button{
	width: 100%;
    height: 100%;
}

.op-button:hover{
	background-color: #403f48 !important;
}

.op-btn-active{
	background-color: #ada848;
}

.op-btn-inactive{
	background-color: #9c91d0;
}

.op-btn-show{
	background-color: #313131;
	color: #fff;
}

.op-inputs{
	margin-bottom: 10px;
}

.op-table-ws * {
	font-size: .9rem !important;
	line-height: 0.95 !important;
}

.report-ws-th{
		/* writing-mode: vertical !important; */
	/* text-orientation: sideways !important; */
	/* text-align: center !important; */
	/* vertical-align: middle !important; */
	font-size: 0.6rem;
	/* word-wrap: break-word; */
	/* writing-mode: vertical-rl; */
	/* text-orientation: sideways-right; */
	/* word-break: break-word; */
}

.report-ws-th-vert{
	writing-mode: horizontal-tb;
	text-orientation: mixed;
}

.report-cell-value-ws {
	display: table-cell;
	font-size: .7rem;
	text-align: center !important;
	/* height: 50px !important; */
	width: 100px !important;
	vertical-align: middle !important;
	color: #5d506f;	
}

.a-disabled{
	pointer-events: none;
    cursor: default;
	color: red;
}

.operation-farrow-data-count{
	font-size: 1.1rem;
	margin-right: 1rem;
}

.operation-farrow-data p{
	font-size: 1.1rem;
	margin-bottom: .3rem;
	font-weight: 500;
}

.operation-add-data{
	font-size: 1.1rem;
	margin-bottom: 1rem;
}

.badge-warning{
	background-color: #ecb91d !important;
}

.report-ws-count-th{
	font-size: 0.7rem;
}

/* Semen boar list */
.semen-boar-table th{
	font-size: 0.6rem !important;
}

.semen-boar-table td{
	display: table-cell;
	font-size: 1rem;
	text-align: center !important;
	/* height: 50px !important; */
	/* width: 100px !important; */
	vertical-align: middle !important;
}
/* end Semen boar list */

